@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Quicksand";
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigationBar {
  display: flex;
  width: 100%;
  height: 5em;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 153, 255);
}

.gameSection {
  margin-top: 2em;
  display: flex;
  width: 60%;
}

.scoreSection {
  margin-left: 3em;
}

.scoreTrack {
  font-size: 20px;
  color: white;
}

.gameTitle {
  margin-left: 6em;
  color: white;
}

.infoSection {
  margin-right: 3em;
  display: flex;
}

.infoItem {
  padding: 1em;
  font-size: 20px;
  color: white;
}

.gameImageAndButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageSection {
  width: 90%;
  position: relative;
  border: 1px solid rgb(0, 153, 255);
  height: 35em;
}

.image {
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.descriptionSection {
  margin-left: -1em;
  resize: none;
  border: 1px solid rgb(0, 153, 255);
  width: 40%;
  height: 39.3em;
  color: black;
  padding: 1em;
  font-size: 18px;
}

.buttonSection {
  display: flex;
  width: 94%;
  margin-top: 1em;  
  flex-direction: column;
  align-items: center;
}

.buttonRow {
  display: flex;
  align-items: center;
  width: 98%;
}

.guessButton {
  background: none;
  border: 1px solid rgb(0, 153, 255);
  margin: 1%;
  width: 90%;
  font-size: 18px;
  height: 3em;
  cursor: pointer;
}

.guessButton:hover {
  background-color: rgb(0, 153, 255);
  color: white;
}

.gameOverSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(87, 105, 117);
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.gameOverSection.visible {
  visibility: visible;
}

.gameOverTitle {
  color: white;
  font-size: 4em;
}

.gameOverScore {
  color: white;
  font-size: 3em;
}

.gameOverButton {
  background: none;
  border: 1px solid white;
  color: white;
  margin: 1%;
  width: 10%;
  font-size: 18px;
  height: 3em;
  cursor: pointer;
}

.gameOverButton:hover {
  border: 1px solid black;
}